<%= link_to "Shorten A Url", new_url_path %>
<ul>
<% @urls.each do |url| %>
   <li id="li<%= url.id %>" class="short_url"><%= link_to "http://localhost:3000/#{url.short_url}", count_path(url), method: :put, id: "link#{url.id}" %></li>
<% end %>
</ul>
